<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="album.css">
  </head>
<body>

<!-- <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Album</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header> -->

<main role="main" style="background-color:#100e17;">

  <section class="jumbotron text-center album_bg">
    <div class="container">
      <h1 class="jumbotron-heading" style="color:white;">The Silver Proof</h1>
      <p class="lead text-muted">How do you secure your child's future when you are not there. Silver proof is an bulletproof insurance plan for your children born in the silver age.</p>
      <p>
        <a href="#" class="btn1">Read More</a>
        <a href="#" style="opacity:0.3;" class="btn1">Contact Us</a>
      </p>
    </div>
  </section>

  <div class="album py-5">
    <div class="container">

      <div class="row">
        <div data-tilt class="col-md-4">
          <div class="card text-center mb-4 shadow-sm"  style="background-color:#100e17;">
            <!-- <img src="placeholder.svg" style="width:100%; height:225; background:#55595c; color:#eceeef;" alt=""> -->
            <!-- {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %} -->
            <div data-tilt data-tilt-glare data-tilt-max-glare="0.2" class="card-body" style="background-color:100e17">
              <h5 class="card-title">Silver ULIP</h5>
              <p class="card-text">Choose from the policy plans well designed for your child's educational feature in the silver age.</p>
              <a href="#" class="btn btn-primary">View Plan</a>
              <!-- <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div> -->
            </div>
          </div>
        </div>
        <div data-tilt class="col-md-4" >
          <div class="card text-center mb-4 shadow-sm"  style="background-color:#100e17;">
            <!-- <img src="placeholder.svg" style="width:100%; height:225; background:#55595c; color:#eceeef;" alt=""> -->
            <!-- {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %} -->
            <div data-tilt data-tilt-glare data-tilt-max-glare="0.2" class="card-body" style="background-color:100e17">
              <h5 class="card-title">Unit Linked Insurance Policy</h5>
              <p class="card-text">You want to leave the decision of the future with your child? But can you leave them without money?</p>
              <a href="#" class="btn btn-primary">View Plan</a>
              <!-- <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center mb-4 shadow-sm"  style="background-color:#100e17;">
            <!-- <img src="placeholder.svg" style="width:100%; height:225; background:#55595c; color:#eceeef;" alt=""> -->
            <!-- {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %} -->
            <div data-tilt data-tilt-glare data-tilt-max-glare="0.2" class="card-body" style="background-color:100e17">
              <h5 class="card-title">Endowment Policies</h5>
              <p class="card-text">Wondering how you can secure every spect of your child's future even after you are not there? Find it out here.</p>
              <a href="#" class="btn btn-primary">View Plan</a>
              <!-- <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div> -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
  	<div class="row">
  		<div class="col-md-8 col-center m-auto">
  			<h2>Testimonials</h2>
  			<div id="myCarousel" class="carousel slide" data-ride="carousel">
  				<!-- Carousel indicators -->
  				<ol class="carousel-indicators">
  					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  					<li data-target="#myCarousel" data-slide-to="1"></li>
  					<li data-target="#myCarousel" data-slide-to="2"></li>
  				</ol>
  				<!-- Wrapper for carousel items -->
  				<div class="carousel-inner">
  					<div class="item carousel-item active">
  						<div class="img-box"><img src="Clients/1.png" alt=""></div>
  						<p class="testimonial">It was a pleasant experience with Exide Life Insurance

I would like to convey my sincere thanks for the kind response from the team Silverproof. My brother in law passed away few months back due to health issues. As a brother I took the responsibility to help my sister with insurance policies for her children.

But it was a pleasant experience when I met Mrs. Veena Asst. Manager, Silverproof, Vasanth Nagar, Bangalore, she is humble and sensitive enough to understand us in difficult time, she completed the claim settlement within 4 days of submission of documents.

I thank Mrs. Triveni and entire Silverproof team for quick claim settlement. Thank you once again</p>
  						<p class="overview"><b>Dr. Raghunath G.V</b>, Bangalore</p>
  					</div>
  					<div class="item carousel-item">
  						<div class="img-box"><img src="Clients/2.png" alt=""></div>
  						<p class="testimonial">I am very thankful for the service provided by your Silverproof team. They have done a great job, “Today my child&apos;s future is secured successfully. The assurance/ownership provided by Silverproof executive was tremendous. I bless you and your team.</p>
  						<p class="overview"><b>Antonio Moreno</b>, Singapore</p>
  					</div>
  					<div class="item carousel-item">
  						<div class="img-box"><img src="Clients/3.png" alt=""></div>
  						<p class="testimonial">I am writing to let you know how much I appreciate the customer service representative at Silvrproof. “You have put together a great team that makes customers feel respected and valued. I look forward to work with your team again.</p>
  						<p class="overview"><b>Michael Holz</b>, Sao Palo</p>
  					</div>
  				</div>
  				<!-- Carousel controls -->
  				<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
  					<i class="fa fa-angle-left"></i>
  				</a>
  				<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
  					<i class="fa fa-angle-right"></i>
  				</a>
  			</div>
  		</div>
  	</div>
  </div>


  <div class="container">
      <!-- <br />
      <br />
      <br />

      <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          This section contains a wealth of information, related to <strong>PrepBootstrap</strong> and its store. If you cannot find an answer to your question,
          make sure to contact us.
      </div>

      <br /> -->

      <div class="panel-group" id="accordion">
          <div class="faqHeader">General questions</div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a style=""class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What makes child Insurance plan so unique?</a>
                  </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    A Child Plan is an Insurance Cum Investment Plan that serves two purposes:-
                    1.Financial Security to your Child's Future
                    2.Financing the turning points in your child's life like higher education or marriage.
                    Setting a Financial Goal helps the insured to secure his child's future at every stage.
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What are the benefits of Silverproof?</a>
                  </h4>
              </div>
              <div id="collapseTen" class="panel-collapse collapse">
                  <div class="panel-body">
                    1.Maturity Benefits to meet Higher Studies Expenses
                    2.Accumulate a Corpus/ Funds that will help in realising all dreams and avoid any hurdles to fulfil it.
                  </div>
              </div>
          </div>
  </div>
</main>
<br>
<br>
<!-- <footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="{{ site.url }}/">Visit the homepage</a> or read our <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer> -->
</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="vanilla-tilt.js"></script>
</html>
